.catalog_item {
  width: 100%;
  max-width: 170px;
  margin: 10px auto;
  text-align: center;
  color: var(--black);

  .catalog_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    overflow: hidden;

    img {
      position: relative;
      object-fit: cover;
      aspect-ratio: 1 / 1.5;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .catalog_name_product {
    font-size: 20px;
    margin: 20px 0;
  }
  
}