.slider_container {
  width: 35%;

  .slick-dots {
    display: flex !important;
    justify-content: center;

    li {
      width: 60px;
    }
  }

 @media only screen and (max-width: 950px) {
  width: 50%;
 }

 @media only screen and (max-width: 590px) {
  width: 90%;
 }
}